<p id="notice"><%= notice %></p>

<h1>Shortened Urls</h1>

<table class="table  table-dark">
  <thead>
    <tr>
      <th scope="col">Long url</th>
      <th scope="col">Short url</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shortened_urls.each do |shortened_url| %>
      <tr scope="row">
        <td><%= shortened_url.long_url %></td>
        <td id="copy_url"><%= short_url(shortened_url) %></td>
        <td><button class="btn btn-primary btn-sm" id="copyLink">Copy</button></td>
        <td><%= link_to 'Destroy', shortened_url, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>