<div class="container-fluid">
  <h1>New Shortened Url</h1>

  <%= render 'form', shortened_url: @shortened_url %>
  <%= render 'index', shortened_url: @shortened_url %>

  <%= link_to 'Back', shortened_urls_path %>
</div>
