<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <span><%= @shortened_url.long_url %></span>
</p>

<p>
  <strong>Short url:</strong>
  <span id='url-link'><%= short_url(@shortened_url) %></span>
</p>
<%= link_to 'Shorten another link', new_shortened_url_path, class:"btn btn-outline-secondary btn-sm" %>
