<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <span><%= @shortened_url.long_url %></span>
</p>

<p>
  <strong>Short url:</strong>
  <span id='url-link'><%= @shortened_url.short_url %></span>
  <button class="btn btn-outline-primary btn-sm" id="copy-action">COPY</button>
</p>
<%= link_to 'Shorten another link', new_shortened_url_path, class:"btn btn-outline-secondary btn-sm" %>
